*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

.cardOverlay {
  position: relative;
}

.cardText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.cardImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.navbar-bg {
  background-color: #DCD9B9; 
}

.footer-container {
  width: 100%; /* Adjust this value to match the width of your navbar */
}
